extends layout

block content  
    section.content-header
        h1
            | #{title}
        ol.breadcrumb
            li
                a(href='')
                    i.fa.fa-dashboard
                    |  Author
            li.active list
    section.content
        .row
            .col-xs-12
                .box.box-primary
                    .box-body
                        ul.todo-list
                            each author in author_list
                                li
                                    span
                                        i.fa.fa-ellipsis-v
                                    span.text 
                                        a(href=author.url) #{author.name} 
                                        | (#{author.lifespan})

                                    .tools
                                        i
                                            a(href=author.url + '/update',).btn.btn-primary.btn-xs
                                                i.fa.fa-edit
                                        i                                                
                                            a(href=author.url + '/delete', onclick="return confirm('Are you sure?')").btn.btn-danger.btn-xs
                                                i.fa.fa-trash-o
                            else
                                h1.text-center There are no authors 