extends layout

block content  
    section.content-header
        h1
            | !{title}
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard
                    |  Book
            li.active add
    section.content
        .row
            .col-xs-12
                .box.box-primary
                    form(action='', method='post')
                        .box-body
                            .form-group
                                label(for='title') Title:
                                input(id='title', type='text', name='title', required, value=(undefined===book ? '' : book.title)).form-control
                            .form-group
                                label(for='author') Author:
                                select(id='author', name='author', required).form-control
                                    option(disabled, selected, value='') Select Author
                                    for author in authors
                                        if book
                                            option(value=author._id, selected=(author._id.toString()==book.author._id.toString() ? 'selected' : false)) #{author.name}
                                        else
                                            option(value=author._id) #{author.name}
                            .form-group
                                label(for='isbn') ISBN:
                                input(id='isbn', type='text', name='isbn', required, value=(undefined===book ? '' : book.isbn)).form-control
                            .form-group
                                label(for='summary') Summary:
                                input(id='summary', type='text', name='summary', required, value=(undefined===book ? '' : book.summary)).form-control
                            .form-group
                                label Genre:
                                div
                                    for genre in genres
                                        div(style='display: inline; padding-right:10px;')
                                            input(type='checkbox', name='genre', id=genre._id, value=genre._id, checked=genre.checked ).checkbox-input
                                            label(for=genre._id) #{genre.name}
                        .box-footer
                            button.btn.btn-primary.btn-flat.center-block Submit